body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #090ca1a9, #090ca149);
    padding: 10px;
}

header h1 {
    text-align: center;
    color: #000000;
}

header a {
    color: #b9d690;
    text-decoration: none;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    font-size: 20px;
    margin-top: 0;
}

.main-content p {
    line-height: 1.5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

a {
    color: #1a1818;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.custom-card {
    max-width: 300px;
    min-width: 200px;
    margin-bottom: 20px;
    border: 1px solid #030e03;
    border-radius: 5px;
    overflow: hidden;
}

.custom-card .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 5px;
}

.custom-card h5.card-title {
    text-align: center;
}

.custom-card p {
    line-height: 1.5;
}

.custom-card button {
    margin-top: 10px;
    background-color: #d695d3;
    width: 60%;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.custom-card:hover .card-link {
    opacity: 0.1;
}

.card-img-top {
    width: 50%;
    height: 12vw;
    object-fit: fill;
}

#historique .scroll-container {
    max-height: 80vh;
    overflow-y: auto;
}

#barChart {
    width: 180%;
    height: 100%;
    margin-right: 20px;
}

#dynamicDepenseContainer,
#dynamicCardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin-bottom: 50px;
    margin-left: 40px;
}

#dynamicCardsContainer {
    margin-right: 20px;
    margin-top: 50px;
}

#titre{
    text-align: center;
    margin-top: 50px;
}