<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/group.css">

    <title>ShareCount</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
    
</head>

<body>
    <header class="bg-light py-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3 d-flex justify-content-start align-items-center">
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="mb-0">ShareCount</h1>
                </div>
                <div class="col-md-3 d-flex justify-content-end align-items-center ">
                    
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href='/logout'>
                                <script>
                                    localStorage.clear();
                                </script>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"></path>
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                </svg>
                                Déconnexion
                            </a>
                            <a class="dropdown-item" href="/" id="addMemberLink">Revenir aux groupes</a>
                            <a class="dropdown-item" id="joinGroupButton">Copier le token du groupe</a>
                            <a class="dropdown-item" href="/depense" id="depenseLink">Créer une nouvelle dépense</a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <main>

        <div class="row mb-3 text-top">
            <div class="col-md-2 themed-grid-col" id="historique">
                <h2 id="titre">Historique des dépenses</h2>
                <div id="historiqueDepensesContainer" class="scroll-container">
                    <div id="dynamicDepenseContainer" class="container flex-container flex-wrap"></div>
                </div>
            </div>            
            <div class="col-md-6 themed-grid-col" style="align-self: start;">
                <div id="dynamicCardsContainer" class="container"> </div>
            </div>
            <div class="col-md-4 themed-grid-col" id="histogramme">
                <canvas id="barChart"></canvas>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <script>
                        window.onload = function () {
                            getUsers();
                            
                        };

                        function getUsers() {
                            const groupId = new URLSearchParams(window.location.search).get('id');
                            localStorage.setItem('groupId', groupId);

                            fetch(`/getUsers/${groupId}`)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.error === 'user_not_found') {
                                        alert('Vous n\'êtes pas dans ce groupe.');
                                        window.location.href = '/';
                                    }
                                    getDepenses(groupId, data);
                                    
                                })
                                .catch(error => {
                                    

                                    console.error('Erreur lors de la requête GET Users :', error);
                                });
                        }

                        function getDepenses(groupId, data) {
                            fetch(`/getDepenses/${groupId}`)
                                .then(response => response.json())
                                .then(dataDettes => {
                                    localStorage.setItem('dettesData', JSON.stringify(dataDettes));
                                    updateDynamicCards(data);
                                    // Appel de la fonction pour mettre à jour dynamicDepenseContainer
                                    fetch(`/getTransactions/${groupId}`)
                                        .then(response => response.json())
                                        .then(dataDepenses => {
                                            localStorage.setItem('dataDepenses', JSON.stringify(dataDepenses));
                                            updateDynamicDepenseContainer();
                                        })
                                        .catch(error => {
                                            console.error('Erreur lors de la requête GET Transactions :', error);
                                        });
                                })
                                .catch(error => {
                                    console.error('Erreur lors de la requête GET Depenses :', error);
                                });
                        }

                        function updateDynamicCards(data) {
                            localStorage.setItem('usersData', JSON.stringify(data));

                            fetch(`/getLogin`)
                                .then(response => response.json())
                                .then(datalogin => {
                                                                            localStorage.setItem('login', JSON.stringify(datalogin));
                                        histogramme();
                                        const dynamicCardsContainer = document.getElementById('dynamicCardsContainer');
                                        dynamicCardsContainer.innerHTML = '';
                                        dynamicCardsContainer.className = 'flex-container';

                                        const dettesData = JSON.parse(localStorage.getItem('dettesData')) || [];

                                        data.forEach(item => {
                                            const card = document.createElement('div');
                                            card.className = 'flex-item';
                                            

                                            let userTotal;
                                            dettesData.forEach(depense => {
                                                if (depense.utilisateur_1 === datalogin[1] && depense.utilisateur_2 === item.id && userTotal === undefined) {
                                                    userTotal = depense.difference;
                                                }
                                                else if (depense.utilisateur_2 === datalogin[1] && depense.utilisateur_1 === item.id  && userTotal === undefined) {
                                                    userTotal = - depense.difference;
                                                }
                                            });

                                            card.innerHTML = `
                                                <div class="custom-card" data-user-id="${item.id}" data-user-total="${userTotal}">
                                                    <div class="card-body" id="myCardBody">
                                                        <h5 class="card-title">${item.prenom} ${item.nom} ${(datalogin === item.login) ? '(Vous) ' : ''}</h5>
                                                        <p id="remboursementdu">
                                                            ${item.login !== datalogin[0] 
                                                                ? (userTotal !== undefined 
                                                                    ? (userTotal < 0 
                                                                        ? `Vous devez : ${Math.abs(userTotal)} €` 
                                                                        : (userTotal > 0 
                                                                            ? `Vous doit ${Math.abs(userTotal)} €` 
                                                                            : 'Vous êtes à l\'équilibre !')) 
                                                                    : 'Vous êtes à l\'équilibre !') 
                                                                : '(Vous)'}
                                                        </p>
                                                        ${(userTotal !== undefined && userTotal < 0) 
                                                            ? '<button class="btn btn-outline-dark" id="rembourser">Rembourser</button>' 
                                                            : '<div style="width: 100px; height: 40px;"></div>'}
                                                    </div>
                                                </div>
                                            `;
                                            dynamicCardsContainer.appendChild(card);
                                            localStorage.removeItem('dettesData');
                                        });
                                                                    })
                                .catch(error => {
                                    
                                    console.error('Erreur lors de la requête GET login :', error);
                                });
                        }

                        


                        document.getElementById('joinGroupButton').addEventListener('click', function () {
                            copyToken();
                        });

                        function copyToken() {
                            const groupId = new URLSearchParams(window.location.search).get('id');

                            if (!groupId) {
                                console.error('L\'ID du groupe est manquant dans l\'URL.');
                                return;
                            }

                            fetch(`/getToken/${groupId}`)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Erreur lors de la récupération du token du groupe.');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    navigator.clipboard.writeText(data[0].token)
                                        .then(() => {
                                            alert('Le token a été copié avec succès !');
                                        })
                                        .catch(error => {
                                            console.error('Erreur lors de la copie du token :', error);
                                            alert('Erreur lors de la copie du token.', error);
                                        });
                                })
                                .catch(error => {
                                    console.error('Erreur lors de la requête GET :', error);
                                });
                        }

                        document.getElementById('dynamicCardsContainer').addEventListener('click', function (event) {
                            const target = event.target.closest('.custom-card');

                            if (target) {
                                const cardUserId = target.dataset.userId;
                                const groupId = localStorage.getItem('groupId');
                                const userTotal = parseFloat(target.dataset.userTotal);
                                const utilisateurConnecteId = JSON.parse(localStorage.getItem('login'))[1];

                                // Ajoutez cette vérification avant d'effectuer le remboursement
                                if (userTotal !== undefined && userTotal < 0) {
                                    const currentDate = new Date().toISOString().split('T')[0];

                                    const remboursementData = {
                                        utilisateur_1: utilisateurConnecteId,
                                        utilisateur_2: parseInt(cardUserId, 10),
                                        groupId: parseInt(groupId, 10),
                                        date: currentDate,
                                        montant: Math.abs(userTotal)
                                    };

                                    console.log(remboursementData);

                                    fetch('/rembourser', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(remboursementData)
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.error) {
                                            throw new Error(data.error);
                                        }
                                        console.log('Remboursement réussi :', data);
                                        alert('Remboursement réussi !');
                                        window.location.href = `/front/views/group.html?id=${groupId}`;
                                    })
                                    .catch(error => {
                                        console.error('Erreur lors du remboursement :', error);
                                        alert('Erreur lors du remboursement.');
                                    });
                                }
                            }
                        });


                    </script>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <script>
                        function updateDynamicDepenseContainer() {
                            const dataDepenses = JSON.parse(localStorage.getItem('dataDepenses')) || [];
                            const dynamicDepenseContainer = document.getElementById('dynamicDepenseContainer');

                            if (dataDepenses.length > 0) {
                                dynamicDepenseContainer.innerHTML = '';

                                const groupedDepenses = groupBy(dataDepenses, 'id_depense');

                                Object.keys(groupedDepenses).forEach(idDepense => {
                                    const depensesGroup = groupedDepenses[idDepense];
                                    const depenseCard = document.createElement('div');
                                    depenseCard.className = 'flex-item custom-card';

                                    depenseCard.innerHTML = `
                                        <div class="card">
                                            <div class="card-body">
                                                ${depensesGroup.map((depense, index) => {
                                                    const formattedDate = new Date(depense.date).toLocaleDateString('fr-FR', {
                                                        day: 'numeric',
                                                        month: 'numeric',
                                                        year: 'numeric'
                                                    });

                                                    const commonInfo = index === 0 ? `
                                                        <p class="card-text"><strong>${depense.titre}</strong></p>
                                                        <p class="card-text">${depense.informations !== null && depense.informations !== undefined ? depense.informations : ''}</p>
                                                        <p class="card-text">${depense.total_prix } € le ${formattedDate}</p>
                                                        <p class="card-text">De : ${depense.utilisateur_acheteur}</p>
                                                        <p class="card-text">Pour: ${Array.isArray(depense.utilisateur_dette) ? depense.utilisateur_dette.join(', ') : depense.utilisateur_dette}</p>
                                                    ` : '';

                                                    
                                                    const utilisateursDette = index === 0 ? '' : `${Array.isArray(depense.utilisateur_dette) ? depense.utilisateur_dette.join(', ') : depense.utilisateur_dette}`;

                                                    return commonInfo + utilisateursDette;
                                                }).join('')}
                                            </div>
                                        </div>
                                    `;
                                    dynamicDepenseContainer.appendChild(depenseCard);
                                });
                            } else {
                                // Show no depense but not in a card
                                dynamicDepenseContainer.innerHTML = `
                                    <p class="card-text"><strong>Aucune dépense</strong></p>
                                    <p class="card-text">Vous pouvez en créer une en cliquant sur le bouton "Créer une nouvelle dépense"</p>
                                `;
                            }
                        }                       

                        
                        

                        function groupBy(array, key) {
                            return array.reduce((result, currentValue) => {
                                (result[currentValue[key]] = result[currentValue[key]] || []).push(currentValue);
                                console.log(result);
                                return result;
                            }, {});
                        }


                        

                    </script>
                </div>
            </div>
        </div>
        
        </div>

        <script>
            function histogramme() {
                const dettesData = JSON.parse(localStorage.getItem('dettesData')) || [];
                const loginData = JSON.parse(localStorage.getItem('login')) || [];
                
                if (loginData.length < 2) {
                    console.error('Données de connexion manquantes.');
                    return;
                }
        
                const userId = loginData[1];
                const userLogin = loginData[0];
                console.log(dettesData);
        
                const userDettesData = dettesData.filter(dette => {
                    if (dette.utilisateur_1 === userId) {
                        return true;
                    } else if (dette.utilisateur_2 === userId) {
                        dette.difference = -dette.difference;
                        return true;
                    }
                    return false;
                });

                if (userDettesData.length != 0) {
                    
                    fetch(`/getUsers/${localStorage.getItem('groupId')}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`Erreur lors de la requête GET Users. Statut : ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(usersData => {
                            userDettesData.forEach(dette => {
                                usersData.forEach(user => {
                                    if (user.id === dette.utilisateur_1) {
                                        dette.utilisateur_1 = user.prenom + ' ' + user.nom;
                                    } else if (user.id === dette.utilisateur_2) {
                                        dette.utilisateur_2 = user.prenom + ' ' + user.nom;
                                    }
                                });
                            });
            
                            const labels = userDettesData.map(dette => {
                                const autreUtilisateur = (dette.utilisateur_1.trim().toLowerCase() === userLogin.trim()) ? dette.utilisateur_2 : dette.utilisateur_1;
                                return ` ${autreUtilisateur}`;
                            });


                            const chartData = userDettesData.map(dette => dette.difference);
                            const backgroundColor = userDettesData.map(dette => (dette.difference >= 0 ? 'rgba(75, 192, 192, 0.2)' : 'rgba(255, 99, 132, 0.2)'));
                            const borderColor = userDettesData.map(dette => (dette.difference >= 0 ? 'rgba(75, 192, 192, 1)' : 'rgba(255, 99, 132, 1)'));
            
                            var ctx = document.getElementById('barChart').getContext('2d');
            
                            var chart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        label: 'Montant',
                                        data: chartData,
                                        backgroundColor: backgroundColor,
                                        borderColor: borderColor,
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        x: {
                                            beginAtZero: true
                                        },
                                        y: {
                                            beginAtZero: true
                                        }
                                    },
                                    indexAxis: 'y',
                                    plugins: {
                                        legend: {
                                            display: false
                                        },
                                    }
                                }
                            });
                        })
                        .catch(error => {
                            console.error('Erreur lors de la requête GET Users :', error);
                        });
                }
            };
        </script> 
    </main>

    <footer id="footer">
        <p>&copy; 2024 ShareCount. Tous droits reservés.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>

