<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareCount</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/form.css">
</head>

<body>
    <header class="bg-light py-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-3 d-flex justify-content-start align-items-center">
                </div>
                <div class="col-md-6 text-center">
                    <h1 class="mb-0">ShareCount</h1>
                </div>
                <div class="col-md-3 d-flex justify-content-end align-items-center ">
                    
                    <div class="dropdown">
                        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href='/logout'>
                                
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"></path>
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
                                </svg>
                                Déconnexion
                            </a>
                            <a class="dropdown-item" href="/" id="addMemberLink">Revenir aux groupes</a>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!-- Page of creation for a new member, asking for name, firstname, and first expenses -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <form id="groupeForm" class="mt-4">
                        <h2 class="mb-3">Rejoindre un groupe</h2>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="InputToken" aria-describedby="tokenHelp" placeholder="Entrez le token de groupe">
                        </div>

                        <input type="submit" value="Valider">
                    </form>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const groupeForm = document.getElementById('groupeForm');

                groupeForm.addEventListener('submit', function (event) {
                    event.preventDefault();

                    // Call your function or handle the group creation here
                    rejoindreGroupe();
                });
            });
            function rejoindreGroupe() {
                var token = {
                    "token": document.getElementById("InputToken").value,
                };

                fetch('/joinGroup', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(token)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        window.location.href = "/";
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        </script>
    </main>

    <footer>
        <p>&copy; 2024 ShareCount. Tous droits reservés.</p>
    </footer>
    <!-- Bootstrap JS bundle -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
